body {
  margin: 0;
  padding: 0;
  background-color: #26282B;
}
.Start{
  width: 100%;
  height: 100%;
}
.content .header{
  color: white;
  width: 650px;
  height: 80px;
  margin: 0 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-size: large;
} 
.content .nav {
  margin-left: 900px;
}
ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.content .nav ul li {
  font-size: 20px;
  font-weight: 800;
  color: #8C8C8C;
  text-decoration: none;
  display: inline-block;
  margin-right: 70px;
  list-style-type: none;
}
.content > .nav > ul > li:hover{
  color: black;
}

main {
  background-size: cover;
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
}
.container h2{
  font-size: 4.5rem;
}
.container h4{
  font-size: 3rem;
}
.container p{
  font-size: 2.25rem;
}