.Background {
  background-image: url(../Img/MainBK.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  width: 2050px;
  height: 100vh;
  display: flex;
}
.NameTitle {
  color: white;
  font-size: 60px;
  margin-top: 230px;
  margin-left: 230px;
  position: absolute;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -3px 20px rgba(255,255,255,0.4);
}